@charset "utf-8";

/* ワークス */
.works {
    padding: 0 10px 100px;
    background-color: #fff;
}

.works_w {
    color: #fad2c3;
    font-weight: 700;
}

.works_img {
    width: 440px;
    margin: 0 auto;
}

.workstitle {
    width: 345px;
    font-size: 23px;
    padding: 60px 0 15px;
    margin: 0 auto 60px;
    border-bottom: 1px solid rgba(111, 93, 70, 0.7);
    box-sizing: border-box;
    text-align: center;
}

.works_content {
    display: flex;
    max-width: 1000px;
    margin: 0 auto 100px;
    justify-content: space-between;
}

.outline {
    max-width: 50%;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 5px 0 5px 15px;
    margin: 0 auto 12px;
    border-left: 15px solid #fad2c3;
    box-sizing: border-box;
}

.works ul {
    padding: 0 30px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}
.outline ul li {
    width: 440px;
    margin-bottom: 20px;
}

.category {
    padding-left: 110px;
}

.tool {
    padding-left: 92px;
}

.point {
    max-width: 470px;
}

.point_text {
    max-width: 440px;
    padding: 0 0 0 30px;
    line-height: 1.75;
    text-align: justify;
}

.works_btn {
    width: 250px;
    margin: 0 auto;
}

.works_btn a {
    display: block;
    font-size: 15px;
    letter-spacing: 0.1em;
    box-sizing: border-box;
    border: 1px solid rgba(111, 93, 70, 0.5);
    background: #fad2c3;
    padding: 17px 0;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .works_img {
        max-width: 100%;
    }
    .workstitle {
        width: 300px;
        font-size: 20px;
        margin: 0 auto 30px;
    }
    .works_content {
        display: block;
        max-width: 340px;
    }
    .outline {
        padding-bottom: 60px;
    }
    h4 {
        font-size: 18px;
        letter-spacing: 0.05em;
        padding: 1px 0 1px 15px;
    }
    .works ul {
        padding: 0 0 0 30px;
    }
    .outline ul li {
        width: 310px;
    }
    .category {
        padding-left: 65px;
    }
    .tool {
        padding-left: 50px;
    }
}

@media screen and (max-width: 767px) {
    /* .works {
        padding-bottom: 70px;
    } */

    .outline ul li {
        margin-bottom: 18px;
        font-size: 14px;
    }
    .point_text {
        font-size: 14px;
        line-height: 1.92;
    }
}
