@charset "utf-8";

/* ワークス */
.works {
    padding-bottom: 127px;
    background-color: #fff;
}

.works_w {
    color: #fad2c3;
    font-weight: 700;
}

.subtitle {
    max-width: 1000px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 2.5px 0 2.5px 15px;
    margin: 0 auto 30px;
    border-left: 15px solid #fad2c3;
    box-sizing: border-box;
}

.works ul {
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 0 10px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.works ul li {
    width: 318px;
    margin-bottom: 23px;
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
    .subtitle {
        margin: 0 23px 30px;
    }
}

@media screen and (max-width: 1020px) {
    .works ul {
        padding: 0 23px;
    }
    .works ul li {
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 767px) {
    .works {
        padding: 0 17.5px 70px;
    }
    /* .h3 {
        max-width: 340px;
        margin: 0 auto 30px;
    } */
    .works ul {
        padding: 0;
    }
    .works ul li {
        width: 100%;
        margin: 0 auto 30px;
    }
    .works ul li img {
        width: 100%;
    }
}
